<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Portfolio</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Portfolio uses Face ID to protect local financial data.</string>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeUpdate</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Quick Update</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.portfolio.quickupdate</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeTask</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Add Bill Reminder</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.portfolio.quickbill</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array/>
</dict>
</plist>
